@import "common";

@-webkit-keyframes help-animation {
    to {
        color: red;
    }
}

.header-container {
    $logoSize: 50px;
    $preLogoSize: $logoSize * 1/4;
    text-align: center;
    color: $logoColor;
    .logo-pre {
        font-size: $preLogoSize;
        position: relative;
        right: 150px;
    }
    .logo {
        font-family: 'Permanent Marker', cursive;
        font-weight: 400;
        font-size: $logoSize;
    }
    .help {
        // @include animation(help-animation 2s linear infinite alternate-reverse);
    }
}