@import "common";

@-webkit-keyframes help-animation {
    to {
        color: red;
    }
}
.header-wrapper {
    background: red;
    border-bottom: 1px solid #000;
}

.header-container {
    padding: 20px;
    $logoSize: 50px;
    $preLogoSize: $logoSize * 1/4;
    text-align: center;
    color: #fff;
    width: 300px;
    margin: 0 auto;
    .logo-pre {
        font-size: $preLogoSize;
        line-height: $preLogoSize;
        position: relative;
        left: -75px;
    }
    .logo {
        font-family: 'Permanent Marker', cursive;
        font-weight: 400;
        font-size: $logoSize;
    }
    .help {
        // @include animation(help-animation 2s linear infinite alternate-reverse);
    }
}