@import "bootstrap-sass/lib/bootstrap";

@import "common";

@import "header.scss";
@import "add-item.scss";
@import "items-list.scss";


body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: $siteWidth;
	@include mobile {
		width: $phoneSiteWidth;
	}
}

[class^="icon-"], [class*=" icon-"] {
	background-image: url("/images/glyphicons-halflings.png");
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: auto;
}

.welcome-info {
	width: $siteWidth;
	@include mobile {
		width: $phoneSiteWidth;
	}
	margin: 20px auto;
	.action {
		text-align: center;
		.btn {
			cursor: pointer;
		}
		.or {
		    display: inline-block;
		}
	}
}

.demo-info {
	margin: 20px auto 0;
	.alert {
		margin-bottom: 0;
	}
}

.footer-container {
	text-align: right;
	margin: 200px auto 20px;
}