@import "bootstrap-sass/lib/bootstrap";

@import "common";

@import "header.scss";
@import "add-item.scss";
@import "partypage.scss";


body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

[class^="icon-"], [class*=" icon-"] {
	background-image: url("http://twitter.github.io/bootstrap/assets/img/glyphicons-halflings.png");
}