@import "bootstrap-sass/lib/bootstrap";

@import "variables";
@import "header.scss";
@import "partypage.scss";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}