@import "common";

.items-list-container {
	margin: 0 auto;
	h2 {
		font-family: Baskerville, Tahoma, sans-serif;
		width: 342px;
		margin: 0 auto;
	}
}

.type-nav {
	a {
		cursor: pointer;
	}
}

.items-list-view {
	list-style: none;
	margin: 0;
	font-family: Baskerville, Tahoma, sans-serif;

	li {
		margin: 20px 0;
		&:hover {
			.remove, .edit {
				display: inline-block;
			}
		}
		&.editing {
			.modify {
				display: none;
				&.persist {
					display: inline-block;
				}
			}
		}
	}
	.remove, .edit {
		display: none;
	}
	.modify {
		float: right;
		cursor: pointer;
	}
	.done {
		display: none;
	}
	.edit {
		margin-right: 5px;
	}
	.what {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
		&.input {
			width: 86%;
		}
	}
	.type, .quantity {
		float: right;
	}
	.quantity {
		margin-right: 5px;
	}
	.quantity.input {
		width: 40px;
	}
	.type.input {
		width: 100px;
	}
	.who {
		font-size: 24px;
		&.input {
			font-size: inherit;
			width: 97%;
		}
	}
	.notes {
		display: block;
		margin: 10px 0 0;
		border-top: 1px solid grey;
		padding-top: 5px;
		&.input {
			font-size: inherit;
			width: 97%;
			border-top: inherit;
		}
	}
}