@import "common";

.items-list-container {
	h2 {
		font-family: Baskerville, Tahoma, sans-serif;
		width: 342px;
		margin: 0 auto;
	}
}

.items-list-view {
	list-style: none;
	margin: 0;
	font-family: Baskerville, Tahoma, sans-serif;

	width: 342px;
	margin: 0 auto;

	li {
		margin: 20px 0;
	}
	.modify {
		float: right;
		cursor: pointer;
		display: none;
	}
	.edit {
		margin-right: 5px;
	}
	li:hover .modify {
		display: inline-block;
	}
	.what {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
	}
	.who {
		font-size: 24px;
	}
	.type, .quantity {
		float: right;
	}
	.label + .label {
		margin-right: 5px;
	}
	.notes {
		display: block;
		margin: 10px 0 0;
		border-top: 1px solid grey;
		padding-top: 5px;
	}
}

.items-list-edit {
	display: none;
    .quantity {
    	$size: 70px;
    	select {
    		width: $size;
    	}
    }
    input, select {
    	width: 80%;
    }
}