@import "common";

.items-list-container {
    list-style: none;
    margin: 0;
    .quantity {
    	$size: 70px;
    	select {
    		width: $size;
    	}
    }
    input, select {
    	width: 80%;
    }
}