<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bring The Salsa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="BringTheSalsaApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="header-wrapper">
        <div class="header-container">
            <h3 class="logo-pre">did you remember to...</h3>
            <h1 id="logo" class="logo">Bring The Salsa<span class="help">?</span></h1>
        </div>
    </div>

    <div class="add-item-wrapper" ng-class="{'add-item-attention-needed': !newItem.length}" ng-controller="AddItemCtrl">
        <div class="welcome-info" ng-show="!viewingList" style="display: none;">
            <p>Do you host parties?</p>
            <p>Are you annoyed by organizing who is bringing what?</p>
            <p>Bring the Salsa is here to help.</p>
            <div class="alert alert-info" ng-click="createNewList()">Click here to create your own party list</div>
        </div>
        <div class="hero-unit add-item-container">
            <form ng-submit="addItem(newItem)" ng-class="{'adding': newItem.length}">
               <input class="add-item-input" type="text" placeholder="What needs bringing?" ng-model="newItem">
               <input class="add-item-submit btn btn-success" type="submit" value="Add">
            </form>
        </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <div class="container footer-container">
      Made by <a href="http://harrywolff.com/">Harry</a>.
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-fire/angularFire.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="scripts/services/items.js"></script>
        <script src="scripts/controllers/additem.js"></script>
        <!-- endbuild -->
</body>
</html>
