<div class="add-item-wrapper" ng-class="{'add-item-attention-needed': !newItem.length}" ng-controller="AddItemCtrl">
    <div class="welcome-info" ng-hide="viewingList">
        <p>Do you host parties?</p>
        <p>Are you annoyed by organizing who is bringing what?</p>
        <p>Bring the Salsa is here to help.</p>
        <div class="alert alert-info" ng-click="createNewList()">Click here to create your own party list</div>
    </div>
    <div class="hero-unit add-item-container">
        <form ng-submit="addItem(newItem)" ng-class="{'adding': newItem.length}">
           <input class="add-item-input" type="text" placeholder="What needs bringing?" ng-model="newItem">
           <input class="add-item-submit btn btn-success" type="submit" value="Add">
        </form>
    </div>
</div>