<div class="items-list-container">
	<ul class="nav nav-pills type-nav">
		<li ng-repeat="type in model.Items.types()" ng-class="{'active':model.Items.isCurrentFilter(type)}">
			<a ng-click="model.Items.setFilter(type)">{{type}}</a>
		</li>
	</ul>
	<ul class="items-list-view">
		<li ng-repeat="item in model.Items.models | filter:model.Items.filter" ng-class="{'editing':editing('any')}" ng-enter="edit('all')">
			<input class="what input" type="text" ng-model="item.what" placeholder="Salsa, chips..." />
			<div class="well">
				<div class="modify-icons">
					<i class="remove modify icon-trash" ng-click="remove($index)"></i>
					<i class="done modify persist icon-ok" ng-click="edit('all')"></i>
				</div>
				<div class="minor">
					<input class="quantity" type="text" ng-model="item.quantity" placeholder="3" />
					<input class="type" type="text" ng-model="item.type" placeholder="drink, snack..." />
				</div>
				<input class="who" type="text" ng-model="item.who" placeholder="Who is bringing?" />
				<input class="notes" type="text" ng-model="item.notes" placeholder="Notes" />
			</div>
		</li>
	</ul>
</div>