<div class="items-list-container">
	<h2>Who is bringing the...</h2>
	<ul class="items-list-view">
		<li ng-repeat="item in Items.models">
			<p class="what">{{item.what}}</p>
			<span class="type label">{{item.type}}</span>
			<span class="quantity label" ng-show="item.quantity > 1">{{item.quantity}}</span>
			<div class="well">
				<span class="who">{{item.who}}</span>
				<small class="notes" ng-show="item.notes">{{item.notes}}</small>
			</div>
		</li>
	</ul>

	<table class="table table-hover items-list-edit">
		<thead>
			<tr>
				<td ng-repeat="column in Items.columns">{{column}}</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in Items.models">
				<td class="{{Items.columns[0]|lowercase}}">
					<input type="text" ng-model="item.what" />
				</td>
				<td class="{{Items.columns[1]|lowercase}}">
					<select ng-model="item.type" ng-options="type for type in types"></select>
				</td>
				<td class="{{Items.columns[2]|lowercase}}">
					<select ng-model="item.quantity" ng-options="num for num in quantity"></select>
				</td>
				<td class="{{Items.columns[3]|lowercase}}">
					<select ng-model="item.who" ng-options="who for who in people"></select>
				</td>
				<td class="{{Items.columns[4]|lowercase}}">
					<input type="text" ng-model="item.notes">
					<button class="close" ng-click="Items.remove($index)">&times;</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>