<div class="hero-unit add-item-container">
	<form ng-submit="addItem({'name': newItem})">
	<input type="text" placeholder="Add New Food" ng-model="newItem">
	</form>
</div>

<ul class="items-list-container">
    <li ng-repeat="item in items">
    	{{item.name}}   <a class="btn btn-mini" ng-click="removeItem($index)">Delete</a>
    	<br/>
    	<select ng-model="item.type" ng-options="type for type in types"></select>
    	<select ng-model="item.quantity" ng-options="num for num in quantity"></select>
    	<select ng-model="item.who" ng-options="who for who in people"></select>
    	<input type="text" ng-model="item.notes">
    </li>
</ul>